.aside {
	padding-top: 100px;
	top: 0;
	left: 0;
	height: 100%;
	position: fixed;
	width: 200px;
	background-color: #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
