.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	&__title {
		font-weight: 700;
		@media (max-width: 460px) {
			display: none;
		}
	}
	&__img img {
		max-width: 40px;
		height: auto;
	}
}
