.video-prev {
	display: block;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	gap: 10px;
	img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
}
