.video-prev {
	display: block;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	gap: 10px;
	img {
		width: 350px;
		height: 200px;
		border-radius: 10px;
	}
	&__title {
		word-break: break-all;
	}
	&--desc {
		max-width: 1000px;
		flex-direction: row;
		width: 100%;
	}
}
