.search {
	display: flex;
	align-items: center;
	&__input {
		border-radius: 10px;
		padding: 10px;
		margin-left: -80px;
		width: 250px;
		border: none;
		border-bottom: 1px solid #000;
		@media (max-width: 580px) {
			margin-left: 0;
			width: 200px;
		}
		@media (max-width: 460px) {
			margin-left: 0;
			width: 120px;
		}
	}
}
