.popup-menu {
	position: absolute;
	overflow: hidden;
	background-color: #fff;
	z-index: 2;
	border: 1px solid #7b7b7b;
	border-radius: 10px;
	padding: 9px 5px;
	top: 60px;
	right: -6px;
	min-width: 185px;
	@media (max-width: 450px) {
		right: 0px;
	}
	&__switch {
		margin-left: 0px !important;
	}
	&-wrap {
		position: relative;
	}
	&-item {
		transition: 0.2s linear;
		padding: 10px;
		cursor: pointer;
		border-radius: 10px;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	&-info-user {
		text-align: center;
		margin: 5px 0 12px;
		font-size: 18px;
	}
}

.dark-theme .categories li {
	background-color: #2c2c2c;
	&:hover {
		color: #000;
	}
	&.active {
		background-color: #5a5a5a;
	}
}

.popup {
	display: none;
}

.popup-enter-active {
	animation: enter 0.2s;
	animation-fill-mode: forwards;
}

.popup-exit-active {
	animation: exit 0.2s;
	animation-fill-mode: forwards;
}

@keyframes enter {
	from {
		margin-top: 20px;
		opacity: 0;
		display: none;
	}
	to {
		margin-top: 0;
		opacity: 1;
		display: block;
	}
}
@keyframes exit {
	from {
		opacity: 1;
	}
	to {
		margin-top: 20px;
		opacity: 0;
		display: none;
	}
}
